@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('jquery-ui-1.12.1.css');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
        'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    background-color: #ffffff;
}

#wrap {
    width: 100%;
    height: 100%;
}

/******* 헤더 시작 *******/
#top_menu {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header {
    width: 1120px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.header_container {
    display: flex;
    gap: 16px;
}
.header_logo {
    cursor: pointer;
    display: flex;
    font-size: 25px;
    align-items: center;
    font-weight: bold;
}

.header_login {
    display: flex;
    flex-direction: column;
    gap: 8px;
    input {
        height: 40px !important;
        border: none !important;
        outline: none;
        text-align: center;
        border-radius: 4px;
        width: 160px;
        background-color: #f5f5f5;
    }
}

.header_login input:focus {
    text-align: left;
}

.header_logininfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
        color: #ff6666;
    }
}

.header_logininfo_check {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    h1 {
        margin-left: 4px;
    }
    span {
        margin-left: 12px;
    }
}

nav {
    display: flex;
    height: inherit;
    align-items: center;
    white-space: nowrap;
}

/******* 헤더 끝 *******/

/**************  문자 발송 페이지 CSS  시작 ************/

.sub_container {
    width: 100%;
    height: 80px;

    background-color: #f0f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.sub_menu {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    h4 {
        line-height: 24px;
        margin-right: auto;
        color: #4169e1;
    }

    span {
        padding: 0 10px;
    }
}

.sub_menu > a {
    font-size: 24px;
}

.main_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
    width: 1120px;
}

.mobile_one_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1;
}

.mobile_one_title {
    span {
        margin-left: 12px;
        color: #777777;
    }
}

.mobile_one_content {
    display: flex;
    margin-top: 20px;

    label {
        padding: 0 10px;
        display: flex;
        align-items: center;
        flex: 1;
    }
}

.mobile_one_content label:first-child {
    flex: 3.5;
}

.mobile_one_content label:last-child {
    flex: 6.5;
}

.mobile_one_content_select {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 4px;

    span {
        color: #777777;
    }
}

.mobile_two_container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1;
}

.mobile_two_title {
    span {
        margin-left: 12px;
        color: #777777;
    }
}

.mobile_two_content {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
    padding: 24px 0 0 16px;
}

.mobile_two_content_load {
    display: flex;
    gap: 8px;
}

#balsin_number {
    height: 40px;
    border-radius: 4px;
}

.mobile_three_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    gap: 10px;
}

.mobile_three_title {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 20px;
}

.mobile_three_title2 {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 20px;
}

.mobile_three_submit {
    padding: 16px;
}

#balsin_title {
    margin-left: 8px;
    height: 40px;
    width: 380px;
    border-radius: 4px;
}

#balsin_title::placeholder {
    padding: 4px;
    font-size: 18px;
}

.mobile_three_content {
    width: 480px;
    height: 242px;
    background-color: #ffe7ff;
    border-radius: 4px;
    border: none;
    resize: none;
    outline: none;
    padding: 12px;
    margin-top: 12px;

    textarea {
        padding: 12px 8px;
        border-radius: 4px;
        width: 100%;
        background-color: #ffe7ff;
        border: none;
        resize: none;
        outline: none;
    }
}

.mobile_three_msg {
    padding: 0 20px 16px 0;
    text-align: right;

    h1 {
        margin-right: 12px;
    }
}

.mobile_three_attach {
    display: flex;
    padding: 0 16px;
    gap: 8px;
}

.mobile_three_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 80px;
    background-color: #f0f8ff;
    border: 1px solid #18a0fb;
    border-radius: 4px;
    cursor: pointer;
}

.mobile_three_imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 50px;
    font-weight: 200;
    cursor: pointer;
}

.mobile_three_menu {
    display: flex;
    padding: 8px 16px 0 16px;
    gap: 8px;
}

.mobile_three_filebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.mobile_three_menubox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.mobile_three_preview {
    padding: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mobile_three_previewbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #555555;
    background-color: #f0f8ff;
    width: 328px;
    height: 458px;
    border-radius: 4px;
}

.mobile_three_preview_service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 1px solid #555555;
    background-color: white;
    border-radius: 30px;
    font-size: 10px;
}

.mobile_three_preview_number {
    font-weight: 700;
    margin-bottom: 8px;
}

.mobile_three_preview_container {
    border: 1px solid #555555;
    background-color: white;
    width: 296px;
    height: 368px;
    padding: 16px 12px;
}

.mobile_three_preview_content {
    width: 240px;
    height: 314px;
    background-color: #f1f1f1;
    border-radius: 24px;
}

.mobile_three_preview_button {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.mobile_four_container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1;

    span {
        color: #777777;
        margin-left: 8px;
    }
}

.mobile_four_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 4px;
}

.mobile_four_leftside {
    padding: 16px 16px;

    textarea {
        padding: 16px;
        width: 100%;
        height: 280px;
        margin-top: 12px;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        font-size: 18px;
        color: #777777;
        resize: none;
        outline: none;
    }
}

.mobile_four_rightside {
    padding: 16px 16px;
}

.mobile_four_button {
    width: 100%;
    padding: 16px 0 0 0;
}

.mobile_four_receptionCount {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;

    span {
        color: #4169e1;
    }
}

.mobile_four_button2 {
    padding: 16px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.mobile_four_cotainer {
    margin-top: 12px;
    width: 100%;
    height: 320px;
    border: 1px solid #555555;
    border-radius: 4px;
    background-color: white;
}

.mobile_four_list {
    display: flex;
    flex-direction: column;
    padding: 16px;

    p {
        color: red;
        font-size: 14px;
    }
}

.mobile_four_excel {
    display: flex;
    justify-content: space-between;
}

.mobile_four_address {
    display: flex;
    justify-content: space-between;
}

.mobile_four_phonenumber {
    display: flex;
    justify-content: space-between;
}

.mobile_five_container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1;
}

.mobile_five_title {
    span {
        margin-left: 12px;
        color: #777777;
    }
}

.mobile_five_content {
    display: flex;
    margin-top: 20px;

    label {
        padding: 0 10px;
        display: flex;
        align-items: center;
        flex: 1;
    }
}

.mobile_five_content label:first-child {
    flex: 3.5;
}

.mobile_five_content label:last-child {
    flex: 6.5;
}

.mobile_five_content_select {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 4px;

    span {
        color: #777777;
    }
}

.mobile_six_container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1;
}

.mobile_six_option {
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px 0 16px;
    line-height: 30px;

    h2 {
        margin-left: 8px;
    }

    span {
        margin-left: 20px;
        font-size: 16px;
        color: #555555;
    }
}

.Division {
    display: flex;
}

.mobile_six_select {
    display: none;
    margin-left: 12px;
    gap: 8px;
}

.select {
    width: 120px;
    height: 100%;
    border-radius: 4px;
    padding: 5px 30px 5px 10px;
}

.select option {
    background: black;
    color: #fff;
    padding: 3px 0;
}

.mobile_send {
    display: flex;
    justify-content: center;
}

.preview {
    position: fixed;
    top: 50%;
    right: -342px;
    z-index: 999;
    transform: translateY(-50%);
    padding: 14px;
    transition: right 0.8s ease;
}

.preview.show {
    right: 0;
}

.previewbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #555555;
    background-color: #f0f8ff;
    width: 328px;
    height: 500px;
    border-radius: 4px;
}

.preview_close {
    cursor: pointer;
    margin-left: auto;
    padding: 12px 12px 0 0;
}

.preview_service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 1px solid #555555;
    background-color: white;
    border-radius: 30px;
    font-size: 10px;
}

.preview_number {
    font-weight: 700;
    margin-bottom: 8px;
}

.preview_container {
    border: 1px solid #555555;
    background-color: white;
    width: 296px;
    height: 368px;
    padding: 16px 12px;
}

.preview_content {
    width: 240px;
    height: 314px;
    background-color: #f1f1f1;
    border-radius: 24px;
}

.preview_button {
    display: none;
}

.bottom_nav {
    display: none;
}

/**************  문자 발송 페이지 CSS  끝 **************/

nav > ul > li {
    float: left;
    /*width:120px;*/
    position: relative;
    margin-left: 30px;
    z-index: 1000;
}

nav > ul > li > a {
    font-size: 20px;
    font-weight: bold;
}

nav > ul > li > ul {
    /*width:130px;*/
    white-space: nowrap;
    display: none;
    position: absolute;
    background: #fff;
    /*line-height:30px;*/
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
    border-radius: 5px;
}

nav > ul > li > ul > li {
    padding: 10px 20px;
}

nav > ul > li:hover > ul {
    display: block;
}

nav > ul > li > ul > li:hover {
    background: orange;
}

main {
    height: 80vh;
    display: flex;
    border-top: 1px solid #dbdbdb;
    background-color: #efefef;
}

aside {
    width: 260px;
    padding: 20px;
    background-color: #ffffff;
}

section {
    width: calc(100% - 260px);
    padding: 20px;
    border-left: 1px solid #dbdbdb;
    background-color: #ffffff;
}

/*************  FOOTER 시작 *************/

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    padding: 15px;
    background-color: #bebebe;
    white-space: nowrap;
}

.footer_logo {
    max-width: 100%;
    height: auto;
}

.footer_set {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer_listcontainer {
    display: flex;
    flex-direction: column;
}

.footer_list {
    margin-left: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
        font-size: 16px;
        font-weight: bold;
    }
}

.footer_info {
    margin-left: 260px;
    margin-top: 10px;
    line-height: 25px;
}

/*************  FOOTER 끝 *************/

/**************  모바일 반응형 시작 **************/

@media (max-width: 768px) {
    .header_logininfo_check {
        display: none;
    }

    .header_logininfo_button button {
        margin-bottom: 8px;
    }

    .sub_container {
        display: flex;
        justify-content: left;

        h4 {
            font-size: 16px;
            padding: 0 28px 0 12px;
        }

        h3 {
            font-size: 12px;
        }

        span {
            padding: 0 2px;
        }
    }

    .main_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .mobile_one_container {
        display: flex;
        justify-content: left;
        align-items: left;
        width: 90%;
    }

    .mobile_one_content {
        flex-direction: column;
        gap: 10px;
    }

    .mobile_two_container {
        display: flex;
        justify-content: left;
        align-items: left;
        width: 90%;
    }

    .mobile_two_content_load {
        flex-direction: column;
    }

    .mobile_three_container {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .mobile_three_title {
        width: 71%;
    }

    .mobile_three_title2 {
        display: none;
    }

    .mobile_three_submit {
        display: flex;
        flex-direction: column;
    }

    .mobile_three_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mobile_three_menubox {
        font-size: 12px;
    }

    #balsin_title {
        width: 80%;
        margin-left: 0;
        margin-top: 4px;
    }

    .mobile_four_container {
        justify-content: left;
        width: 90%;

        span {
            display: none;
        }

        h2 {
            display: none;
        }
    }

    .mobile_four_grid {
        grid-template-rows: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile_four_leftside {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        textarea {
            overflow: hidden;
            width: 100%;
            height: 50%;
            resize: none;
            outline: none;
        }

        textarea::placeholder {
            padding: 10px 0 0 50px;
        }
    }

    .mobile_four_rightside {
        margin-top: -40px;
        width: 100%;
        grid-column: 1 / 3;
    }

    .mobile_four_button {
        width: 100%;
    }

    .mobile_four_button2 {
        display: flex;
        justify-content: center;
    }

    .mobile_four_cotainer {
        height: 100px;
    }

    #add_number {
        width: 100%;
    }

    #address_box {
        width: 60px;
        height: 24px;
        font-size: 12px;
    }

    #excel_box {
        display: none;
    }

    #refresh_box {
        width: 60px;
        height: 24px;
        font-size: 12px;
    }

    .mobile_four_list {
        h1 {
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }
    }

    .mobile_five_container {
        width: 90%;
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .mobile_five_content {
        flex-direction: column;
        gap: 10px;
    }

    .mobile_six_container {
        width: 90%;
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .mobile_send {
        width: 90%;
        margin-bottom: 50px;
    }

    .Division {
        display: none;
    }

    .Duplication {
        span {
            display: none;
        }
    }

    .Refresh {
        display: none;
    }

    .preview_button {
        cursor: pointer;
        width: 50px;
        height: 40px;
        display: block;
        position: fixed;
        right: 0;
        top: 30%;
        transform: translateY(30%);
        transition: right 0.8s ease;
    }

    .preview_button.show {
        transition: right 0.8s ease;
        right: 342px;
    }

    .preview-image {
        width: 100%;
        vertical-align: middle;
    }

    .preview-text {
        position: absolute;
        color: white;
        left: 50%;
        top: 60%;
        transform: translate(-60%);
    }

    .bottom_nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;

        bottom: 0;
        width: 100%;
        height: 7%;
        border-top: 2px solid #adadad;
        border-right: 2px solid #adadad;
        border-left: 2px solid #adadad;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-color: #fff;
    }

    .bottom_home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: contain;

        img {
            width: 30px;
            height: 30px;
        }

        h1 {
            font-weight: 700;
            margin-top: 8px;
            font-size: 12px;
        }
    }
}

/**************  모바일 반응형 끝 **************/

/**************  태블릿 반응형 시작 **************/
@media (max-width: 1024px) {
    .header_logininfo_check {
        display: none;
    }
    .header_logininfo_button {
        display: flex;
        flex-direction: column;
    }
    .header_logininfo_button button {
        margin-bottom: 8px;
    }
}

/**************  태블릿 반응형 끝 **************/

/* @media (max-width:600px) {
	main { flex-wrap: wrap; }
	aside {width: 100%; background-color: red;}
	section {width: 100%; background-color: blue;}
} */

/*nav > ul > li { float:left; margin-left: 60px; font-size:20px; font-weight:bold;}*/

main > aside > ul > li {
    padding-bottom: 5px;
}

main > aside > ul > li:first-child {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

main > aside > ul > li:nth-child(3) {
    margin-bottom: 10px;
}

main > aside > ul > li:nth-child(6) {
    margin-bottom: 15px;
    text-align: center;
    color: red;
}

main > aside > ul > li:nth-child(8) {
    margin-bottom: 5px;
}

main > aside > ul > li:nth-child(9) {
    margin-bottom: 20px;
}

main > aside > ul > li:nth-child(10) {
    text-align: center;
    color: #777777;
}

main > aside > ul > li:nth-child(11) {
    font-size: 16px;
    text-align: center;
}

main > aside > ul > li:last-child {
    font-size: 13px;
    text-align: center;
    color: #777777;
    margin-top: 100px;
}

input[type='text'] {
    border: 1px solid #999999;
    height: 25px;
    padding: 5px;
}

input[type='password'] {
    border: 1px solid #999999;
    height: 25px;
    padding: 5px;
}

input:disabled {
    background-color: #ccc;
}

input:read-only {
    background-color: #ccc;
}

h1 {
    font-size: 16px;
    font-weight: 600;
    display: inline;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    display: inline;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    display: inline;
}

h4 {
    font-size: 24px;
    font-weight: 800;
    display: inline;
}

/***** 버튼 css  시작 *****/

.Btn_Main {
    background-color: #f0f8ff;
    width: 280px;
    height: 60px;
    padding: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #18a0fb;
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    margin-bottom: 40px;
}

.Btn_Main:hover {
    background-color: #18a0fb;
    color: white;
}

.Btn_Main:active {
    scale: 1.02;
}

.Btn_Main_Medium {
    background-color: #f0f8ff;
    width: 360px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #18a0fb;
    font-size: 16px;
    font-weight: 600;
}

.Btn_Main_Medium:hover {
    background-color: #18a0fb;
    color: white;
}

.Btn_Main_Medium:active {
    scale: 1.02;
}

.Btn_Main_Small {
    background-color: #f0f8ff;
    cursor: pointer;
    border: 1px solid #18a0fb;
    color: #000;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

.Btn_Main_Small:hover {
    background-color: #18a0fb;
    color: white;
}

.Btn_Main_Small:active {
    scale: 1.02;
}

.Btn_White_Big {
    background-color: #fff;
    cursor: pointer;
    color: #000;
    padding: 15px;
    width: 140px;
    height: 60px;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid #777;
}

.Btn_White_Big:hover {
    background-color: #eeeeee;
}

.Btn_White_Big:active {
    scale: 1.02;
}

.Btn_White_Small {
    background-color: #fff;
    cursor: pointer;
    color: #111111;
    padding: 0 12px;
    width: 160px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #777;
}

.Btn_White_Small:hover {
    background-color: #eeeeee;
}

.Btn_White_Small:active {
    scale: 1.02;
}

/***** 버튼 css 끝 *****/

/* 
.radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

.radio:hover input~.checkmark {
  background-color: #ccc;
}

.radio input:checked~.checkmark {
  background-color: #0066FF;
}

.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked~.checkmark:after {
  display: block;
}

.radio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

.checkbox:hover input~.checkmark {
  background-color: #ccc;
}

.checkbox input:checked~.checkmark {
  background-color: #0066FF;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

#dest_paste::placeholder {
    font-size: 13px;
}
